@import "utilities.css";
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #07606;
}
body {
  font-family: "poppins", sans-serif;
}
.WebContainer {
  width: 100%;
  height: auto;
}
.articles {
  width: 90%;
  height: auto;
  margin: auto;
}
header {
  background: var(--dark);
  height: 600px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

header nav {
  padding: 2rem 0;
}

.Picture {
  padding: 0;
}

.Picture .text {
  color: var(--pure);
}
.Picture .text h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.Picture .text h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.Picture .text h1 span {
  color: var(--primary);
}

.Picture .text p {
  line-height: 1.9;
  margin-bottom: 2rem;
}

.Picture .text {
  margin-top: -4rem;
}

section {
  padding: 6rem 0;
}

section.About h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

section.About h1 span {
  color: var(--primary);
}

section.About h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

section.About h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
section.About p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.9;
  margin-bottom: 2rem;
}
.section-heading {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}
.section-heading span {
  color: var(--primary);
}
.section-heading + p {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 8rem;
  text-align: center;
}

section.Achievements {
  background: var(--light);
}

section.Achievements .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 6rem;
}

section.Achievements .card-wrapper .card {
  background: var(--pure);
  padding: 0.5rem 0.5rem;
  position: relative;
  padding-top: 5rem;
  text-align: center;
  transition: all 0.3s ease;
  width: auto;
  height: auto;
}

section.Achievements .card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

section.Achievements .card-wrapper .card p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.6;
}

section.Achievements .card-wrapper .card:hover {
  background: var(--ternary);
}

section.Achievements .card-wrapper .card:hover h2,
section.Achievements .card-wrapper .card:hover p {
  color: var(--pure);
}

section.Appointment {
  text-align: center;
  background: var(--dark);
  color: var(--pure);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 85%, 0 100%);
  padding-bottom: 14rem;
}

section.Appointment h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

section.Appointment p {
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
}

section.Positions {
  background: var(--light);
}

section.Positions .card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 3rem;
}

section.Positions .card-wrapper .card {
  background: var(--pure);
  padding: 0.5rem 0.5rem;
  position: relative;
  padding-top: 5rem;
  text-align: center;
  transition: all 0.3s ease;
  width: auto;
  height: auto;
}

section.Positions .card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

section.Positions .card-wrapper .card p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.6;
}

section.Positions .card-wrapper .card:hover {
  background: var(--ternary);
}

section.Positions .card-wrapper .card:hover h2,
section.Positions .card-wrapper .card:hover p {
  color: var(--pure);
}

footer {
  background: var(--dark);
  height: 100px;
}

footer .container h5 {
  color: white;
  text-align: center;
  font-size: small;
}
